:root {
    --e-global-color-primary: #4A6B48;
    --e-global-color-secondary: #6B946A;
    --e-global-color-text: #A7A7A7;
    --e-global-color-accent: #DCD194;
    --e-global-color-3e80ec0: #5B4C3E;
    --e-global-color-03027b8: #3A3E4B;
    --e-global-color-eb5be0e: #010B00;
    --e-global-color-4d4cf38: #997452;
    --e-global-color-5174952: #FFFFFF29;
    --e-global-color-2e08737: #0F130F;
    --e-global-typography-primary-font-family: "Jura";
    --e-global-typography-primary-font-size: 16px;
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-secondary-font-family: "Special Elite";
    --e-global-typography-secondary-font-size: 50px;
    --e-global-typography-secondary-font-weight: 500;
    --e-global-typography-secondary-text-transform: uppercase;
    --e-global-typography-secondary-letter-spacing: 2px;
    --e-global-typography-text-font-family: "Jura";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Jura";
    --e-global-typography-accent-font-size: 14px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-7510ecc-font-family: "Special Elite";
    --e-global-typography-7510ecc-font-size: 16px;
    --e-global-typography-7510ecc-font-weight: 500;
    --e-global-typography-7510ecc-text-transform: uppercase;
    --e-global-typography-7510ecc-letter-spacing: 1px;
    --e-global-typography-e484614-font-family: "Jura";
    --e-global-typography-e484614-font-size: 18px;
    --e-global-typography-e484614-font-weight: 400;
    --e-global-typography-fc57316-font-family: "Jura";
    --e-global-typography-fc57316-font-size: 18px;
    --e-global-typography-fc57316-font-weight: 700;
    --e-global-typography-e7c8e5e-font-family: "Jura";
    --e-global-typography-e7c8e5e-font-size: 15px;
    --e-global-typography-e7c8e5e-font-weight: 700;
    --e-global-typography-3662c30-font-family: "Special Elite";
    --e-global-typography-3662c30-font-size: 70px;
    --e-global-typography-3662c30-font-weight: 500;
    --e-global-typography-3662c30-text-transform: uppercase;
    --e-global-typography-3662c30-line-height: 1em;
    --e-global-typography-3662c30-letter-spacing: 2px;
    --e-global-typography-28b3d3a-font-family: "Special Elite";
    --e-global-typography-28b3d3a-font-size: 40px;
    --e-global-typography-28b3d3a-font-weight: 500;
    --e-global-typography-60ba366-font-family: "Special Elite";
    --e-global-typography-60ba366-font-size: 24px;
    --e-global-typography-60ba366-font-weight: 500;
    --e-global-typography-60ba366-text-transform: uppercase;
    --e-global-typography-60ba366-letter-spacing: 1px;
    --e-global-typography-899525b-font-family: "Special Elite";
    --e-global-typography-899525b-font-size: 18px;
    --e-global-typography-899525b-font-weight: 500;
    --e-global-typography-899525b-text-transform: uppercase;
    --e-global-typography-899525b-letter-spacing: 2px;
    --e-global-typography-e736963-font-family: "Jura";
    --e-global-typography-e736963-font-size: 18px;
    --e-global-typography-e736963-font-weight: 500;
    --e-global-typography-a977380-font-family: "Special Elite";
    --e-global-typography-a977380-font-size: 26px;
    --e-global-typography-a977380-font-weight: 500;
    --e-global-typography-5f4235b-font-family: "Special Elite";
    --e-global-typography-5f4235b-font-size: 20px;
    --e-global-typography-5f4235b-font-weight: 500;
    --e-global-typography-5f4235b-text-transform: uppercase;
    --e-global-typography-c9c3c21-font-family: "Jura";
    --e-global-typography-c9c3c21-font-size: 20px;
    --e-global-typography-c9c3c21-font-weight: 500;
    --e-global-typography-da9c72a-font-family: "Special Elite";
    --e-global-typography-da9c72a-font-size: 21px;
    --e-global-typography-da9c72a-font-weight: 500;
    --e-global-typography-da9c72a-text-transform: uppercase;
    --e-global-typography-da9c72a-letter-spacing: 1px;
}

$mobile-width: 752px;
